@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

body {
    min-width: 320px;
    min-height: 568px;
    max-width: 2560px;
    max-height: 1440px;
    
}

header {
    
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 7vh;
}

header > h1 {
    padding-top: 10vh;
    font-family: 'Passion One', cursive;
    font-size: 10vw;
    
    
}

header > h2 {
    font-size: 2vw;
    font-weight: lighter;
    padding-bottom: 10vh;
}

header a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1em;
}

header a {
    text-decoration: none;
}

header a:hover {
        text-decoration: underline;

}


div {
    line-height: 1em;
    font-size: 3.5vw;
}

div > p {
    padding-top: 0vh;
    padding-bottom: 10vh;
}

div.nada {
    font-family: "Sriracha", sans-serif;
    color: black;
    margin-left: 2.1vw;
}

div.algo {
    font-family: "Sriracha", sans-serif;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-size: cover;
    background-position: center;
    margin-top: 10vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

div.algo > p {
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 5px;
    margin-right: 54vw;
    margin-left: 1.8vw;
    padding-left: 0.5vw;
    padding-bottom: 4vh;
}

div#flor {
    background-image: url('__MACOSX/imagens/background001.jpg');
}

div#papel {
    background-image: url('__MACOSX/imagens/background002.jpg');
}

footer {
    height: 4vh;
    background-color: black;
    text-align: center;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-top: 15vh;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}